:root {
  --primary: #475f45;
  --color-text-tint1: #ffffff;
  --color-text-tint2: #414840;
  --color-text-tint3: #475f45;
  --color-text-tint4: #333333;
  --color-text-tint5: #343d33;
  --color-bg-tint1: #343d33;
  --color-bg-tint2: #414840;
  --color-bg-tint3: #ffffff;
}
